body {
    font-size: 15px;
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
    line-height: 1.8;
    padding: 0;
    margin: 0;
}

/* ヘッダー部分 */
header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.rogo h1 {
    padding: 16px 0 0 0;
    margin-bottom: 0;
    transition: all 0.3s;
}

.rogo h1:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.rogo a {
    text-decoration: none;
    color: black;
}


.rogo p {
    color: rgb(148, 148, 148);
    margin: 0 0 65px 0;
    line-height: 11px;
}


.sp-menu {
    font-size: 30px;
    position: fixed;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.sp-menu .hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100; 
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 180px 30px 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s;
}

.overlay.show{
    opacity: 1;
    pointer-events: auto;
}

#close {
    position: absolute;
    top: 16px;
    right: 10.5px;
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    transition: all;
}

.overlay ul {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
}

.overlay li {
    margin: 17px 0;
    font-size: 22px;
}

.overlay li a {
    text-decoration: none;
    color: black;
}

.overlay li a:hover {
    color: rgb(210, 153, 30);
    transition: 0.3s ;
}

.list-title .list-sub {
    font-size: 18px;
    color: #b4b4b4;
}


/* メイン部分 */
.main-img {
    width: 100%;
}

.main-message {
    padding: 29px 20px 46px;
    color: #777777;
    margin: 0;
    font-size: 23px;
}

.blog-text {
    margin: 0 20px 60px;
}

.blog-text h3 {
    margin-top: 0;
    margin-bottom: 18px;
    padding-top: 0;
    font-size: 19px;
    line-height: 40px;
}

.blog-text p {
    font-size: 14px;
    color: #777777;
}

h3 a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

h3 a:hover {
    color: rgb(210, 153, 30);
    transition: 0.3s ;
}

time a {
    text-decoration: none;
    color: #727272;
    opacity: 0.7;
    font-size: 14px;
}

time a:hover {
    opacity: 1.0;
    transition: 0.5s ;
}

.btn, a.btn {
    text-decoration: none;
    color: #727272;
    border: 1px solid #e7e7e7;
    padding: 13px 19px;
    margin: 0 20px 30px;
    font-size: 14px;
}

.btn .fas {
    margin-left: 5px;
}

.profile {
    border-top: 1px solid #e7e7e7;
    margin: 68px 20px 0;
    padding-top: 60px;
}

.parson img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 5px;
}

.social-icon {
    margin-left: 20px;
}

.social-icon h6 {
    margin-bottom: 3px;
    margin-top: 26px;
    padding-left: 5px;
    font-size: 16px;
}

.social-icon .fab {
    color: #777777;
    opacity: 0.6;
    margin: 0 5px;
    font-size: 22px;
	transition: all 0.3s ;
}

.social-icon .fab:hover {
    opacity: 1;
	transition: 1.0s ;
}

.parson {
    display: flex;
}

.profile p {
    color: #777777;
    font-size: 14.1px;
    line-height: 23px;
}

.discription p.discription-1 {
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 13px;
    color: black;
}

.discription p.discription-2 {
    font-size: 13.2px;
}

.results {
    margin: 130px 20px 60px;
}

.results-title {
    font-size: 12.5px;
    font-weight: bold;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.text a {
    text-decoration: none;
    color: #666666;
    border-bottom: 1px solid #aaaaaa;
    font-size: 14px;
}

.text {
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
}

.result time {
    font-size: 13px;
    color: #777777;
}

.categorys {
    margin: 20px 20px;
}

.category-p {
    font-size: 12.5px;
    font-weight: bold;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.search input {
    margin: 70px 20px;
    font-size: 14px;
    font-family: YuMincho;
    padding: 8px 40px 8px 10px;
    width: 55%;
    border: 1px solid #dadada;
}

footer {
    border-top: 1px solid #dadada;
    margin: 0 20px 50px;
    padding-top: 40px;
}

.social-icon-f .fab {
    color: #777777;
    opacity: 0.6;
    margin-right: 15px;
    font-size: 22px;
	transition: all 0.3s ;
}

.social-icon-f .fab:hover {
    opacity: 1;
	transition: 1.0s ;
}

footer p {
    color: #777777;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: #494949;
}

.gnav,
.seach-wrapper,
.pc,
.profiles-pc {
    display: none;
}


@media (min-width: 980px) {
    body {
        width: 1035px;
        margin: 0 auto;
    }

    header {
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 22px;
    }
    
    .rogo h1 {
    font-size: 36px;
    padding: 16px 0 0 0;
    margin-bottom: 0;
    transition: all 0.3s;
    }

    .rogo h1:hover {
    opacity: 0.7;
    transition: 0.3s;
    }
    
    .rogo a {
    text-decoration: none;
    color: black;
    }
    
    .rogo p {
    color: rgb(148, 148, 148);
    margin: 0 0 65px 0;
    line-height: 11px;
    font-size: 18px;
    }

    .sp-menu .fas {
        display: none;
    }

    /* ここからPC用ナビゲーション部分のレイアウト */

    .pc {
        display: inline;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .gnav {
        display: flex;
        padding-top: 72px;
        padding-left: 10px;
        margin-bottom: 0;
        margin-right: 46px;
    }

    .gnav a {
        color: #4d4d4d;
        transition: all;
    }

    .gnav a:hover {
        color: rgb(210, 153, 30);
        transition: 0.3s ;
    }

    .gnav,
    .gnav li ul {
        list-style-type: none;
        font-size: 17.5px;
    }

    .gnav a {
        text-decoration: none;
    }

    .gnav li {
        position: relative;
        margin: 0 9.5px;
    }
    
    .gnav li ul {
        position: absolute;
        top: 20px;
        left: -20px;
        width: 220px;
        padding: 10px 10px;
        background-color: white;
        border: 1px solid #b4b4b4;
        box-shadow: 0.5% 0.5% #aaaaaa;
        text-align: left;
        visibility: hidden;
    }

    .gnav li:hover ul li {
        visibility: visible;
        top: 20px;
        left: -20px;
        width: 210px;
        padding: 5px 20px;
        background-color: white;
        border: 1px solid #b4b4b4;
        box-shadow: 0.5% 0.5% #aaaaaa;
        text-align: left;
    }

    .menu-icon {
        color: #666666;
        margin: 0 10px;
    }

    .seach-wrapper {
        padding-top: 88px;
        display: inline-block;
        float: right;
        position: relative;
    }

    .seach-wrapper input {
        background: url(/Users/DaisakuShirasaka/Desktop/practice/practice_8_write/img/search-icon.png) no-repeat left center;
        padding: 10px 25px;
        outline: none;
        border: 1px solid #b4b4b4;
        width: 0;
        position: absolute;
        right: 0;
        background-color: white;
        border: none;
        cursor: pointer;
        transition: 0.5s;
    }

    .seach-wrapper input:focus {
        width: 235px;
        border: 1px solid #b4b4b4;
        cursor: text;
    }


    .gnav-sub a {
        display: block;
    }

    /* 書くためのテーマの部分 */

    .blog-sp {
        display: none;
    }

    .pc-text {
        margin: 0 20px 60px;
        line-height: 30px;
    }


    .blog-group p {
        font-size: 17px;
        color: #777777;
    }

    h3 {
        margin: 0;
        padding: 0;
        line-height: 30px;
    }

    h3 a {
        text-decoration: none;
        color: black;
        transition: all 0.3s;
        font-size: 22px;
    }

    h3 a:hover {
        color: rgb(210, 153, 30);
        transition: 0.3s ;
    }

    time a {
        text-decoration: none;
        color: #727272;
        opacity: 0.7;
        font-size: 17px;
    }

    time a:hover {
        opacity: 1.0;
        transition: 0.5s ;
    }

    .pc-btn, a.pc-btn {
        text-decoration: none;
        color: #727272;
        border: 1px solid #e7e7e7;
        padding: 13px 19px;
        margin: 0 5px 30px;
        font-size: 16px;
        opacity: 0.8;
    }

    .pc-btn, a.pc-btn:hover {
        opacity: 1;
    }

    .pc-btn .fas {
        margin-left: 5px;
    }

    .btn-list li {
        list-style-type: none;
    }

    .btn-list {
        display: flex;
        justify-content: center;
        margin-right: 160px;
    }


    .blog-group {
        display: flex;
        margin-bottom: 58px;
    }

    .pc-text {
        width: 30%;
        margin-left: 0;
    }

    .pc-text-right {
        width: 70%;
        padding-left: 8px;
    }

    .main-message {
    font-size: 27px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
    }

    /* PC用のプロフィール部分 */
    .profiles-sp {
        display: none;
    }


    .profile-pc,
    .discription,
    .results,
    .categorys {
        width: 23%;
    }
    
    .profiles-pc {
        border-top: 1px solid #e7e7e7;
        margin: 120px 0 60px;
        padding-top: 70px;
        display: flex;
    }

    .parson img {
        border-radius: 50%;
        width: 100px;
        margin-bottom: 5px;
    }

    .social-icon {
        margin-left: 20px;
    }

    .social-icon h6 {
        margin-bottom: 3px;
        margin-top: 26px;
        padding-left: 5px;
        font-size: 19px;
    }

    .social-icon .fab {
        color: #777777;
        opacity: 0.6;
        margin: 0 5px;
        font-size: 22px;
        transition: all 0.3s ;
    }

    .social-icon .fab:hover {
        opacity: 1;
        transition: 1.0s ;
    }

    .parson {
        display: flex;
    }

    .profile-pc p {
        color: #777777;
        font-size: 17px;
        line-height: 28px;
    }

    .discription p.discription-1 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 14px;
        color: black;
    }

    .discription p.discription-2 {
        font-size: 15.5px;
        color: #777777;
    }

    .results {
        margin: 0px 20px 60px;
    }

    .results-title {
        font-size: 14px;
        font-weight: bold;
        color: #2e2e2e;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .text a {
        text-decoration: none;
        color: #666666;
        border-bottom: 1px solid #aaaaaa;
        font-size: 16px;
    }

    .text {
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 0;
    }

    .result time {
        font-size: 15px;
        color: #777777;
    }

    .categorys {
        margin: 0 20px;
    }

    .category-p {
        font-size: 14px;
        font-weight: bold;
        color: #2e2e2e;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .profile-pc {
        margin-right: 70px;
        width: 29.1%;
    }

    .discription {
        margin-right: 35px;

    }
    .results,
    .categorys {
    }

    
    .pc-search input {
        margin: 70px 0;
        font-size: 14px;
        font-family: YuMincho;
        padding: 8px 40px 8px 10px;
        border: 1px solid #dadada;
    }

    .footer-container {
        display: flex;
    }

    .footer-container p {
        margin: 0 auto;
        font-size: 15px;
    }



}